*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    padding: 5rem;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: grid;
    /* equal fractio-> 1fr */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-rows: 200px 200px; */
    gap: 1rem;
}
.box{
    background-color: orange;
    border: 0.5rem solid black;
}
.header,.footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */

    /* shorthand notation */
    grid-column: 1/4;
}
.side_bar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}