*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 10vh;
}
.container{
    height: 100vh;
    display: grid;
    background-color: greenyellow;
    padding: 4rem;
    gap: 1rem;
    /* autofit and minmax se hum grid ko resposive bana skte h */
    /* grid-template-columns: repeat(autofit,minmax(100px,200px)); */
    /* grid-template-areas:
    "b1 b2 b2 b3"
    "b1 b4 b4 b6"
    "b1 b7 b8 b6"; */

    /* place-items: center end; */
    /*place-item:align_item justify_content */
}
.box{
    background-color: red;
}
.Box1,.Box2,.Box6{
    background-color: green;
}
.Box4,.Box8{
    background-color: yellow;
}
/* justify_self and align_self se indivisual box pr operation kr skta hu */
/* .Box8{
    justify-self: center;
    align-self: start;
} */





@media (min-width:500px) {
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .box{
        background-color: red;
    }
    
    
    /* without using gridarea */
    .Box1{
        grid-row: 1/4;
    }
    .Box2{
        grid-column: 2/4;
    }
    .Box6{
        /*position chnage ho ja rahi h*/
         grid-row: 2/4; 
         /*  toh sahi position pr lane ke liye */
        grid-column: 4/5;
    }
    .Box1,.Box2,.Box6{
        background-color: rgb(234, 136, 23);
    }
    .Box4,.Box8{
        background-color: yellow;
    }
    
}



/* with gradarea */
/* 
.Box1{
    grid-area: b1;
}
.Box2{
    grid-area: b2;
}
.Box3{
    grid-area: b3;
}
.Box4{
    grid-area: b4;
}
.Box5{
    grid-area: b5;
}
.Box6{
    grid-area: b6;
}
.Box7{
    grid-area: b7;
}
.Box8{
    grid-area: b8;
} */

