*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    /* background-color: wheat; */
   
}
.box{
    height: 200px;
    width: 200px;
    background-color: orangered;
    font-size: 2rem;
    border: 5px solid black;
    transition: all 2s linear;
}
.Box1:hover{
    transform: rotateX(60deg);
}
.Box2:hover{
    transform: rotateY(60deg);
}
.Box3:hover{
    transform: rotateZ(60deg);
}
.Box4:hover{
    transform:translateX(200px);
}
.Box5:hover{
    transform:translateY(200px);
}
.Box6:hover{
    transform:perspective(300px) translateZ(200px);
}
.Box7:hover{
    transform: scaleX(2);
}
.Box8:hover{
    transform: scaleY(2);
}
.Box9:hover{
    transform: perspective(300px) rotateY(60deg) scaleZ(2);
}