*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 4rem;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction:reverse;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg) translate(300px);
    }
    to{
        transform: rotate(360deg) translate(300px);
    }
}