*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(250, 246, 240);
}
.Box{
    display: inline-block;
}
.image{
    position: relative;
}
.img{
   
    height: 250px;
    width: auto;
    border-radius: 20px;
}
.card{
    display: inline-block;
    border: 10px solid rgb(250, 246, 240);
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.off{
    position: absolute;
    bottom: 10px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    background-color: rgba(255, 0, 0, 0.393);
}
.rest_name{
    font-weight: bolder;
    font-size: 20px;
}
.rating{
    background-color: green;
    color: white;
    font-size: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
}
.Resturant,.food,.location{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.food,.place{
    color: gray;
    font-size: 15px;
}
.price,.km{
    position: absolute;
    right: 5px;
}
.card:hover{
    background-color: white;
    border-color: white;
    transform: scale(1.05);
    transition: 1.5s;
}